.Contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 5%;
}

.Contact .Form1 {
  width: 50%;
  margin: 0 3%;
}

.Contact .Form1 form {
  padding: 10%;
}

.Contact .Alert {
  width: 50%;
  margin: 1% 3%;
}

.Contact .Alert .Delete {
  cursor: pointer;
  margin: 0 0 0 15px;
}

.Contact .Alert .Edition {
  cursor: pointer;
  margin: 0 15px 0 0;
}

.Contact .Alert .Modal {
  width: 50%;
  margin: 0 3%;
}

/* Media queries */
@media (max-width: 767px) {
  .Contact {
    flex-wrap: wrap;
  }
  .Contact .Form1 {
    width: 100%;
  }
}
